body {
  color: black;
  font-family: $body-font;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

.sr-only {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}

h1, h2, h3 {
  font-family: 'abolition', sans-serif;
  font-weight: 200;
  margin: $padding 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

a {
  color: $mhp-green;
}

.article p:first-child {
  font-weight: bold;
}

blockquote {
  font-style: italic;
  margin-left: 1em;
  border-left: 10px solid $mhp-green;
  background: mix($mhp-green, white, 20%);
  display: inline-block;
  padding: 0 1em;

  @include mq($from: tablet) {
    margin: 0 1em 1em 1em;
    width: 30%;
    float: right;
    font-size: $base-font-size * 1.2;
    p {
      font-weight: normal!important;
    }
  }

  @include mq($from: desktop) {
    padding-right: 1em;
    text-align: right;
    width: 50%;
    margin-right: -10%;
  }
}
